body {
  background-color: maroon;
  font-style: normal;
  font-family: 'Caveat',cursive;
}
.container p::first-letter {
  color: Gold;
  font-size: 50;
}
.container3 {
  background-color: gray;
  padding: 4em;
  margin: 3em;
}
#title h1{ font-style: oblique;
  text-align: center;
  font-size: 70;
  font-style: italic;
}
#title h2{font-variant: small-caps;
  text-align: center;
  font-size: 30;
  font-weight: lighter;
}
#title p{
  text-align: center;
  font-size: 25;
}

#part-one { font-style: italic;
  font-family: 'GothamBook';
  font-size: 25;
}
#part-two {font-style: italic;
  font-family: 'GothamBook';
  font-size: 25;
}
#button-wrapper {
  font-size: 25;
}
